<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend SoundCloud</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .mg-top {
            margin-top: 30px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container mg-top">
        <h1>
            Welcome to Backend SoundCloud
        </h1>
        <span>
            React Client/Server with Vite và Framework Next.JS (Typescript)
        </span>
    </div>
</body>

</html>